{{ 'component-card-heinrich.css' | asset_url | stylesheet_tag }}
{{ 'grid-cards-heinrich.css' | asset_url | stylesheet_tag }}
{{ 'component-price-heinrich.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="color-{{ section.settings.color_scheme }} isolate gradient top-m-7">
  <div class="collection section-{{ section.id }}-padding">
      <div class="grid-container s-p6 m-p10 l-p20 mx-auto gap-2 m-gap-3 l-gap-5">
        <div class="col-span-12 collection__title title-wrapper title-wrapper--no-top-margin page-width">
        {%- if section.settings.title != blank -%}
            <h2 class="title {{ section.settings.heading_size }} center">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
        {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
          <div class="collection__description {{ section.settings.description_style }} center">{%- if section.settings.show_description -%}{{ section.settings.collection.description }}{%- else -%}{{ section.settings.description }}{% endif %}</div>
        {%- endif -%}
        </div>
        {% for i in (1..3) %}
        <div class="relative grid-item grid-item-1 col-span-12 m-col-span-4 flex w-full overflow-hidden min-h-260 rounded-md flex-col" style="background-color:red;">
          <!-- Background -->
          <div class="w-full !posabs top-0">
            <div style="display: block;overflow: hidden;position: relative;" aria-hidden="true">
              <img
                src="{{ block.settings.transparent_main_backdrop | asset_url }}"
                alt="transparent-background"
                width="389"
                height="900"
                class="block w-full"
              >
            </div>
          </div>
          
          <!-- <img style="display:block;width:100%" height="900" width="389" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzODkiIGhlaWdodD0iOTAwIj48L3N2Zz4=" alt="Black to Green Gradient"> -->

          {% comment %}

          <img
          srcset="{%- if block.settings.transparent_main_backdrop.width >= 550 -%}{{ block.settings.cover_image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 720 -%}{{ block.settings.cover_image | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 990 -%}{{ block.settings.cover_image | image_url: width: 990 }} 990w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 1100 -%}{{ block.settings.cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 1500 -%}{{ block.settings.cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 2200 -%}{{ block.settings.cover_image | image_url: width: 2200 }} 2200w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 3000 -%}{{ block.settings.cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
            {{ block.settings.cover_image | image_url }} {{ block.settings.cover_image.width }}w"
          src="{{ block.settings.cover_image | image_url: width: 1500 }}"
          sizes="(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px)"
          alt="{{ block.settings.description | escape }}"
          loading="lazy"
          width="{{ block.settings.cover_image.width }}"
          height="{{ block.settings.cover_image.height }}"
        >
        {% endcomment %}
        </div>
        {% endfor %}
      </div>

      {% comment %}
      <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item">
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              show_quick_add: section.settings.enable_quick_add,
              section_id: section.id
            %}
          </li>
        {%- else -%}
          {%- for i in (1..4) -%}
            <li class="grid__item">
              {% render 'card-product', show_vendor: section.settings.show_vendor %}
            </li>
          {%- endfor -%}
        {%- endfor -%}
      </ul>
      {% endcomment %}
  </div>
</div>


{% schema %}
{
  "name": "t:sections.featured-collection-heinrich.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection Heinrich",
      "label": "t:sections.featured-collection-heinrich.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection-heinrich.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection-heinrich.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection-heinrich.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection-heinrich.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection-heinrich.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection-heinrich.settings.collection.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Allgemeine Settings"
    },
    {
      "type": "image_picker",
      "id": "transparent_main_backdrop",
      "label": "Transparenter Hintergrund"
    },
    {
      "type": "header",
      "content": "PC 1"
    },
    {
      "type": "image_picker",
      "id": "pc_1_background",
      "label": "Hintergrund"
    },
    {
      "type": "image_picker",
      "id": "pc_1_foreground",
      "label": "Vordergrund",
      "info": "muss transparenten Hintergrund haben"
    },
    {
      "type": "text",
      "id": "pc_1_title",
      "label": "Titel"
    },
    {
      "type": "richtext",
      "id": "pc_1_short_description",
      "label": "Kurz-Beschreibung"
    },
    {
      "type": "richtext",
      "id": "pc_1_long_description",
      "label": "Lang-Beschreibung"
    },
    {
      "type": "text",
      "id": "pc_1_button_label",
      "label": "Button Aufschrift"
    },
        {
      "type": "header",
      "content": "PC 2"
    },
    {
      "type": "image_picker",
      "id": "pc_2_background",
      "label": "Hintergrund"
    },
    {
      "type": "image_picker",
      "id": "pc_2_foreground",
      "label": "Vordergrund",
      "info": "muss transparenten Hintergrund haben"
    },
    {
      "type": "text",
      "id": "pc_2_title",
      "label": "Titel"
    },
    {
      "type": "richtext",
      "id": "pc_2_short_description",
      "label": "Kurz-Beschreibung"
    },
    {
      "type": "richtext",
      "id": "pc_2_long_description",
      "label": "Lang-Beschreibung"
    },
    {
      "type": "text",
      "id": "pc_2_button_label",
      "label": "Button Aufschrift"
    },
        {
      "type": "header",
      "content": "PC 3"
    },
    {
      "type": "image_picker",
      "id": "pc_3_background",
      "label": "Hintergrund"
    },
    {
      "type": "image_picker",
      "id": "pc_3_foreground",
      "label": "Vordergrund",
      "info": "muss transparenten Hintergrund haben"
    },
    {
      "type": "text",
      "id": "pc_3_title",
      "label": "Titel"
    },
    {
      "type": "richtext",
      "id": "pc_3_short_description",
      "label": "Kurz-Beschreibung"
    },
    {
      "type": "richtext",
      "id": "pc_3_long_description",
      "label": "Lang-Beschreibung"
    },
    {
      "type": "text",
      "id": "pc_3_button_label",
      "label": "Button Aufschrift"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection-heinrich.presets.name"
    }
  ]
}
{% endschema %}
